body {
    padding-top: 90px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

span.field-validation-error {
    color: red;
    font-family: "Cairo", Helvetica, Arial, sans-serif;
    font-size: 14px;
}


/* bootstrap overrides*/

body {
    font-family: "Sedgwick Ave", Helvetica, Arial, sans-serif;
    font-size: 17px;
    color: #656565;
}

.navbar-inverse {
    background-color: #ff4040;
    border-color: #ff4040;

}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: rgb(255, 95, 95);
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.navbar-brand {
    font-size: 26px;

}

.dropdown-menu {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-brand, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Sedgwick Ave Display", Helvetica, Arial, sans-serif;
}

.form-group {
    margin-bottom: 20px;
}



.form-control {
    font-family: "Cairo", Helvetica, Arial, sans-serif;
    font-size: 17px;
    padding: 20px 15px;
    -ms-border-radius: 9px;
    border-radius: 9px;
}

.form-control:focus {
    border-color: #d63915;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control-dropdown-custom {
    padding: 0 15px;
}


.btn {
    padding: 8px 20px;
    font-size: 17px;
    -ms-border-radius: 9px;
    border-radius: 9px;
}

.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

/* page-level styles */

.gigs {
    list-style: none;
}

.gigs > li {
    position: relative;
    margin-bottom: 30px;
}

.gigs > li .date {
    background: #ff4040;
    color: #ffffff;
    text-align: center;
    width: 80px;
    -ms-border-radius: 8px;
    border-radius: 8px;
}

.gigs > li .date .month {
    text-transform: uppercase;
    font-size: 16px;
    padding: 6px 7px;
}

.gigs > li .date .day {
    background: antiquewhite;
    color: #656565;
    font-size: 25px;
    padding: 6px 12px;
}

.gigs > li .detail {
    position: absolute;
    top: 10px;
    left: 90px;

}

.gigs > li .detail .artist {
    font-weight: bold;
    display: block;
    padding-bottom: 10px;
}

.gigs > li .detail .genre {
    font-size: 15px;
        
}

